.spinner {

  height: 48px;
  visibility: hidden;
  
  &__dots {
    display: inline-block;
    &__dot {
      display: inline-block;
      width: 15px;
      height: 15px;
      background: $color-active;
      border-radius: 50%; 
      animation: scale 1.5s infinite ease-in-out;
      
      &:first-child {
        animation-delay: -0.50s;
      }
      
      &:nth-child(2) {
        animation-delay: -0.25s;
      }
      
      &:last-child {
        animation-delay: -0s;
      }
    }
  }

  &__msg {
    margin: 0 15px 0 0;
    display: inline-block;
  }
}

@keyframes scale {
  0%, 80%, 100% { 
    transform: scale(0);
  } 

  40% { 
    transform: scale(1.0);
  }
}